<!-- BEGIN: Subheader -->
<div class="" appunwraptag="">
    <div class="m-subheader-search" style="padding-bottom: 0;">
        <div class="row">
            <div class="col-md-1">
                <img src="./assets/eventalliance/media/img/users/user4.jpg" style="border-radius: 50%;" alt="" />
            </div>
            <div class="col-md-11">
                <h1 style="font-size: 2.8rem;font-weight: 400;color: #fff;margin: 0;">
                    Franz Ferdinand
                </h1>

                <span class="m-badge m-badge--primary m-badge--wide" style="background-color: #204d66">Indie Rock</span>
                <span class="m-badge m-badge--primary m-badge--wide" style="background-color: #204d66">Jazz</span>
                <br/><br/>
                <!-- start menu -->

                <ul class="nav nav-tabs  m-tabs-line  m-tabs-line--2x m-tabs-line--white" style="margin-bottom:-1px;" role="tablist">
                    <li class="nav-item m-tabs__item">
                        <a class="nav-link m-tabs__link " data-toggle="tab" routerLink="/artist-details" role="tab">
                            <small>Insight</small>
                        </a>
                    </li>
<!--
                    <li class="nav-item m-tabs__item">
                        <a class="nav-link m-tabs__link " data-toggle="tab" routerLink="/artist-availability" role="tab">
                             <small>Availability</small>  
                         </a>
                    </li>
-->
                    <li class="nav-item m-tabs__item">
                        <a class="nav-link m-tabs__link " data-toggle="tab" routerLink="/about-artist" role="tab">
                               <small>About</small>
                         </a>
                    </li>
                    <li class="nav-item m-tabs__item">
                        <a class="nav-link m-tabs__link active" data-toggle="tab" routerLink="/edit-artist" role="tab">
                               <small>Edit</small>
                       </a>
                    </li>

                </ul>
                <!-- end menu -->

            </div>
        </div>
    </div>

</div>
<!-- END: Subheader -->

<div class="m-content">

    <div class="row">
        <div class="col-xl-3 col-lg-3">
            &nbsp;
        </div>
        <div class="col-xl-6 col-lg-6">
            <div class="m-portlet m-portlet--full-height">
                <div class="m-portlet__body">

                    <div class="row">
                        <div class="col-md-12">
                            <form>
                                <strong>Youtube</strong>
                                <br/>
                                <small>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor </small>

                                <br/><br/>
                                <table class="table table-hover">
                                    <tbody>
                                        <tr>
                                            <td>
                                                <img class="profile_team_img" src="./assets/eventalliance/media/img/users/user4.jpg" alt="">
                                            </td>
                                            <td>
                                                <span class="m--font-bold">Example bold text</span>
                                                <br/>
                                                <small>Lorem ipsum dolor sit amet, consectetur adipiscing elit,s</small>
                                            </td>

                                            <td align="right">
                                                <i class="fa fa-ellipsis-h"></i>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <img class="profile_team_img" src="./assets/eventalliance/media/img/users/user4.jpg" alt="">
                                            </td>
                                            <td>
                                                <span class="m--font-bold">Example bold text</span>
                                                <br/>
                                                <small>Lorem ipsum dolor sit amet, consectetur adipiscing elit,s</small>
                                            </td>

                                            <td align="right">
                                                <i class="fa fa-ellipsis-h"></i>
                                            </td>
                                        </tr>

                                    </tbody>

                                </table>
                                <div class="form-group">
                                    <button type="button" class="btn btn-outline-metal m-btn btn-sm m-btn--outline-2x m-btn--uppercase">add source</button>
                                </div>

                                <hr/>


                                <strong>Bandsintown</strong>
                                <br/>
                                <small>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor </small>

                                <br/><br/>
                                <table class="table table-hover">
                                    <tbody>

                                        <tr>
                                            <td>
                                                <img class="profile_team_img" src="./assets/eventalliance/media/img/users/user4.jpg" alt="">
                                            </td>
                                            <td>
                                                <span class="m--font-bold">Example bold text</span>
                                                <br/>
                                                <small>Lorem ipsum dolor sit amet, consectetur adipiscing elit,s</small>
                                            </td>

                                            <td align="right">
                                                <i class="fa fa-ellipsis-h"></i>
                                            </td>
                                        </tr>

                                    </tbody>

                                </table>
                                <div class="form-group">
                                    <button type="button" class="btn btn-outline-metal m-btn btn-sm m-btn--outline-2x m-btn--uppercase">add source</button>
                                </div>

                                <hr/>
                                <strong>Profile</strong>
                                <br/><br/>
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label for="Artist">Artist Name *</label>
                                        <input type="text" class="form-control m-input form-control-sm" placeholder="Password">
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="Status">Status *</label>
                                        <select class="form-control m-input form-control-sm">
                                        <option>Published</option>
                                        <option>Demo options 1</option>                                       
                                        <option>Demo options 2</option>                                       
                                        </select>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-12">
                                        <label for="Youtube">Youtube Source *</label>
                                        <select class="form-control m-input form-control-sm">
                                        <option>Youtube Channel Shubhrajyoti/VEVO</option>
                                        <option>Demo options 1</option>                                       
                                        <option>Demo options 2</option>                                       
                                        </select>                               
                                        <small>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor </small>
                                    </div>
                                </div>
                                <br/> 
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label for="Budget">Budget *</label>
                                        <select class="form-control m-input form-control-sm">
                                        <option>₹500 - ₹750</option>
                                        <option>₹750 - ₹1050</option>                                       
                                        <option>₹1070 - ₹1750</option>                                       
                                        </select>                                       
                                    </div>
                                </div>              
                                <hr/>
                               
                                <button type="button" class="btn btn-primary m-btn btn-sm m-btn--outline-2x m-btn--uppercase pull-right">Update</button>
                            </form>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>

</div>
