<div class="m-content">
    <div class="row">
        <div class="col-md-12">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">
                        <i class="fa fa-chevron-left"></i>&nbsp; Colorado BBQ Challenge
                    </h5>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-xl-6 offset-xl-3">

                            <div class="m-card-profile">
                                <div class="m-card-profile__pic">
                                    <div class="m-card-profile__pic-wrapper">
                                        <img class="profile_team_img" src="./assets/eventalliance/media/img/users/user4.jpg" alt="" />
                                    </div>
                                </div>
                                <div class="m-card-profile__details">
                                    <strong>Hella Big Air Entertainment Preferences Mt. Bachelor 2019</strong>
                                    <p>
                                        Hella Big Air is back and it’s bigger than ever. We want your help choosing our headline entertainment for our 2019 Mt. Bachelor
                                        event.
                                    </p>
                                    <a href="#" class="btn btn-accent m-btn m-btn--custom m-btn--bolder m-btn--uppercase">
                                        TAKE SURVEY
                                    </a>

                                    <hr/>
                                    <small>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                                        ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit
                                        esse cillum
                                    </small>
                                </div>

                            </div>
                        </div>
                    </div>
                    <!--SURVEY QUESTIONS-->
                    <hr/>
                    <div class="row">
                        <div class="col-md-6 offset-md-4">
                            <strong>
                                The standard Lorem Ipsum passage, used since the Ipsum passage, used since the Ipsum passage, used since the

                            </strong>
                            <br/>

                            <input type="radio" name="gender" value="male" checked> Extrimely like
                            <br>
                            <input type="radio" name="gender" value="female"> Like
                            <br>
                            <input type="radio" name="gender" value="other"> Somewhat likely
                            <br>
                            <input type="radio" name="gender" value="other"> Un-likely
                            <br>
                            <input type="radio" name="gender" value="other"> Extrimely Un-likely
                            <br>
                        </div>
                    </div>
                    <hr/>
                    <!--SURVEY QUESTIONS-->
                    <div class="row">
                        <div class="col-md-4 offset-md-4">
                            <strong>
                                Do you want to be notified when tickets fo on sale for this event? your email address to be first on this list for ticket
                                sales.

                            </strong>
                            <br/>
                            <div class="form-group m-form__group">
                                <label for="exampleInputEmail1">Email address</label>
                                <input type="email" class="form-control m-input m-input--square" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                                <span class="m-form__help">We'll never share your email with anyone else.</span>
                            </div>
                        </div>
                    </div>
                    <hr/>
                    <!--IMAGE SLIDER WILL DISPLAY HERE-->
                    <div class="row">
                        <div class="col-md-6 offset-md-3">

                            <img style="width: 100%;" src="./assets/eventalliance/media/img/youtube/slide1.png" alt="">
                        </div>
                    </div>
                    <br/>
                    <div class="row">
                        <div class="col-md-1 offset-md-3">
                            <img class="profile_team_img" src="./assets/eventalliance/media/img/users/user4.jpg" alt="">

                        </div>
                        <div class="col-md-2">
                            <b>Kela Kutti- Zombie</b>
                            <br/>
                            <small>Soul, Funk</small>
                        </div>
                        <div class="col-md-2">
                            graph will show here
                        </div>
                        <div class="col-md-3">
                            <i class="la la-ellipsis-h"></i>
                            <b>NEXT TRACK</b>
                        </div>
                        
                    </div>
                    <hr/>
                </div>
                <div class="modal-footer">

                    <div style="width:50%;">
                        <img class="profile_team_img" src="./assets/eventalliance/media/img/users/user4.jpg" alt="">
                        <img class="profile_team_img" src="./assets/eventalliance/media/img/users/user4.jpg" alt="">
                        <img class="profile_team_img" src="./assets/eventalliance/media/img/users/user4.jpg" alt="">
                        <img class="profile_team_img" src="./assets/eventalliance/media/img/users/user4.jpg" alt="">
                        <button type="button" class="btn btn-outline-metal m-btn--uppercase ">
                            <b>
                                PREV
                            </b>
                        </button>
                    </div>
                    <div style="width:50%; float:right;">
                        <div class="pull-right">
                            <button type="button" class="btn btn-accent m-btn m-btn--custom m-btn--bolder m-btn--uppercase ">
                                <b>
                                    GET STARTED
                                </b>
                            </button>
                            <button type="button" class="btn btn-accent m-btn m-btn--custom m-btn--bolder m-btn--uppercase ">

                                Next

                            </button>
                            <button type="button" class="btn btn-outline-danger">
                                <b>
                                    <i class="fa fa-close"></i>&nbsp;NOPE
                                </b>
                            </button>
                            <button type="button" class="btn btn-outline-success ">
                                <b>
                                    <i class="fa fa-check"></i>&nbsp;YEP
                                </b>
                            </button>
                        </div>

                    </div>


                </div>
            </div>


        </div>

    </div>
</div>