<!-- BEGIN: Subheader -->
<div class="m-subheader" appunwraptag="" (onSummaryModalClose)="ReloadDatatable()" >
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <h3 class="m-subheader__title">
                Summary
            </h3>
        </div>

    </div>
</div>
<!-- END: Subheader -->
<div class="m-content">
    <div class="row">
        <div class="col-xl-4">
            <div class="m-demo" data-code-preview="true" data-code-html="true" data-code-js="false">
                <div class="m-demo__preview">
                    <span class="m--font-success">Success state text</span>
                    <span class="m--font-warning">Warning state text</span>
                    <span class="m--font-info">Info state text</span>
                    <span class="m--font-danger">Danger state text</span>
                    <span class="m--font-primary">Primary state text</span>
                    <span class="m--font-focus">Focus state text</span>
                </div>
            </div>
        </div>
        <div class="col-xl-4">
            <div class="m-demo" data-code-preview="true" data-code-html="true" data-code-js="false">
                <div class="m-demo__preview">
                    <span class="m--font-success">Success state text</span>
                    <span class="m--font-warning">Warning state text</span>
                    <span class="m--font-info">Info state text</span>
                    <span class="m--font-danger">Danger state text</span>
                    <span class="m--font-primary">Primary state text</span>
                    <span class="m--font-focus">Focus state text</span>
                </div>
            </div>
        </div>
        <div class="col-xl-4">
            <div class="m-demo" data-code-preview="true" data-code-html="true" data-code-js="false">
                <div class="m-demo__preview">
                    <span class="m--font-success">Success state text</span>
                    <span class="m--font-warning">Warning state text</span>
                    <span class="m--font-info">Info state text</span>
                    <span class="m--font-danger">Danger state text</span>
                    <span class="m--font-primary">Primary state text</span>
                    <span class="m--font-focus">Focus state text</span>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-12">
            <div class="m-demo" data-code-preview="true" data-code-html="true" data-code-js="false">
                <div class="m-demo__preview">
                    <span class="m--font-success">Success state text</span>
                    <span class="m--font-warning">Warning state text</span>
                    <span class="m--font-info">Info state text</span>
                    <span class="m--font-danger">Danger state text</span>
                    <span class="m--font-primary">Primary state text</span>
                    <span class="m--font-focus">Focus state text</span>
                    
                    <br/>
                    <br/>
                    <br/>
                    <br/>
                    <br/>
                    <br/>
                    <br/>
                </div>
            </div>
        </div>
    </div>
</div>
