<!-- BEGIN: Subheader -->
<div class="m-subheader" appunwraptag="">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <h3 class="m-subheader__title">
                Event pages
            </h3>
        </div>

    </div>
</div>
<!-- END: Subheader -->
<div class="m-content">
    <div class="row">
        <div class="col-lg-6">
            <!--begin::Portlet-->

            <!--end::Portlet-->
            <!--begin::Portlet-->

            <!--end::Portlet-->
            <!--begin::Portlet-->
            <div class="m-portlet m-portlet--tabs">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <h3 class="m-portlet__head-text">
                                Metronic Buttons
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="m-portlet__body">
                    <!--begin::Section-->
                    <div class="m-section">
                        <span class="m-section__sub">
				Metronic style solid buttons
			</span>
                        <div class="m-section__content">
                            <div class="m-demo" data-code-preview="true" data-code-html="true" data-code-js="false">
                                <div class="m-demo__preview m-demo__preview--btn">
                                    <button type="button" class="btn btn-primary m-btn m-btn--custom">
							Primary
						</button>
                                    <button type="button" class="btn btn-brand m-btn m-btn--custom">
							Brand
						</button>
                                    <button type="button" class="btn btn-success m-btn m-btn--custom">
							Success
						</button>
                                    <button type="button" class="btn btn-info m-btn m-btn--custom">
							Info
						</button>
                                    <button type="button" class="btn btn-warning m-btn m-btn--custom">
							Warning
						</button>
                                    <button type="button" class="btn btn-danger m-btn m-btn--custom">
							Danger
						</button>
                                    <button type="button" class="btn btn-accent m-btn m-btn--custom">
							Accent
						</button>
                                    <button type="button" class="btn btn-secondary m-btn m-btn--custom">
							Secondary
						</button>
                                    <div class="m-separator m-separator--dashed"></div>
                                    <button type="button" class="btn btn-primary m-btn m-btn--custom m-btn--bolder m-btn--uppercase">
							Primary
						</button>
                                    <button type="button" class="btn btn-brand m-btn m-btn--custom m-btn--bolder m-btn--uppercase">
							Brand
						</button>
                                    <button type="button" class="btn btn-success m-btn m-btn--custom m-btn--bolder m-btn--uppercase">
							Success
						</button>
                                    <button type="button" class="btn btn-info m-btn m-btn--custom m-btn--bolder m-btn--uppercase">
							Info
						</button>
                                    <button type="button" class="btn btn-warning m-btn m-btn--custom m-btn--bolder m-btn--uppercase">
							Warning
						</button>
                                    <button type="button" class="btn btn-danger m-btn m-btn--custom m-btn--bolder m-btn--uppercase">
							Danger
						</button>
                                    <button type="button" class="btn btn-accent m-btn m-btn--custom m-btn--bolder m-btn--uppercase">
							Accent
						</button>
                                    <button type="button" class="btn btn-secondary m-btn m-btn--custom m-btn--bolder m-btn--uppercase">
							Secondary
						</button>
                                    <div class="m-separator m-separator--dashed"></div>
                                    <button type="button" class="btn btn-primary m-btn m-btn--custom m-btn--bolder m-btn--uppercase">
							Primary
						</button>
                                    <button type="button" class="btn btn-brand m-btn m-btn--custom m-btn--bolder m-btn--uppercase">
							Brand
						</button>
                                    <button type="button" class="btn btn-success m-btn m-btn--custom m-btn--bolder m-btn--uppercase">
							Success
						</button>
                                    <button type="button" class="btn btn-info m-btn m-btn--custom m-btn--bolder m-btn--uppercase">
							Info
						</button>
                                    <button type="button" class="btn btn-warning m-btn m-btn--custom m-btn--bolder m-btn--uppercase">
							Warning
						</button>
                                    <button type="button" class="btn btn-danger m-btn m-btn--custom m-btn--bolder m-btn--uppercase">
							Danger
						</button>
                                    <button type="button" class="btn btn-accent m-btn m-btn--custom m-btn--bolder m-btn--uppercase">
							Accent
						</button>
                                    <button type="button" class="btn btn-secondary m-btn m-btn--custom m-btn--bolder m-btn--uppercase">
							Secondary
						</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--end::Section-->
                    <!--begin::Section-->
                    <div class="m-section">
                        <span class="m-section__sub">
				Metronic style outline buttons
			</span>
                        <div class="m-section__content">
                            <div class="m-demo" data-code-preview="true" data-code-html="true" data-code-js="false">
                                <div class="m-demo__preview m-demo__preview--btn">
                                    <button type="button" class="btn btn-outline-primary m-btn m-btn--custom">
							Primary
						</button>
                                    <button type="button" class="btn btn-outline-brand m-btn m-btn--custom">
							Brand
						</button>
                                    <button type="button" class="btn btn-outline-success m-btn m-btn--custom">
							Success
						</button>
                                    <button type="button" class="btn btn-outline-info m-btn m-btn--custom">
							Info
						</button>
                                    <button type="button" class="btn btn-outline-warning m-btn m-btn--custom">
							Warning
						</button>
                                    <button type="button" class="btn btn-outline-danger m-btn m-btn--custom">
							Danger
						</button>
                                    <button type="button" class="btn btn-outline-metal m-btn m-btn--custom">
							Metal
						</button>
                                    <button type="button" class="btn btn-outline-accent m-btn m-btn--custom">
							Accent
						</button>
                                    <div class="m-separator m-separator--dashed"></div>
                                    <button type="button" class="btn btn-outline-primary m-btn m-btn--custom m-btn--outline-2x">
							Primary
						</button>
                                    <button type="button" class="btn btn-outline-brand m-btn m-btn--custom m-btn--outline-2x">
							Brand
						</button>
                                    <button type="button" class="btn btn-outline-success m-btn m-btn--custom m-btn--outline-2x">
							Success
						</button>
                                    <button type="button" class="btn btn-outline-info m-btn m-btn--custom m-btn--outline-2x">
							Info
						</button>
                                    <button type="button" class="btn btn-outline-warning m-btn m-btn--custom m-btn--outline-2x">
							Warning
						</button>
                                    <button type="button" class="btn btn-outline-danger m-btn m-btn--custom m-btn--outline-2x">
							Danger
						</button>
                                    <button type="button" class="btn btn-outline-metal m-btn m-btn--custom m-btn--outline-2x">
							Metal
						</button>
                                    <button type="button" class="btn btn-outline-accent m-btn m-btn--custom m-btn--outline-2x">
							Accent
						</button>
                                    <div class="m-separator m-separator--dashed"></div>
                                    <button type="button" class="btn btn-secondary m-btn m-btn--custom m-btn--label-primary">
							Primary
						</button>
                                    <button type="button" class="btn btn-secondary m-btn m-btn--custom m-btn--label-brand">
							Brand
						</button>
                                    <button type="button" class="btn btn-secondary m-btn m-btn--custom m-btn--label-success">
							Success
						</button>
                                    <button type="button" class="btn btn-secondary m-btn m-btn--custom m-btn--label-info">
							Info
						</button>
                                    <button type="button" class="btn btn-secondary m-btn m-btn--custom m-btn--label-warning">
							Warning
						</button>
                                    <button type="button" class="btn btn-secondary m-btn m-btn--custom m-btn--label-danger">
							Danger
						</button>
                                    <button type="button" class="btn btn-secondary m-btn m-btn--custom m-btn--label-metal">
							Metal
						</button>
                                    <button type="button" class="btn btn-secondary m-btn m-btn--custom m-btn--label-accent">
							Accent
						</button>
                                    <div class="m-separator m-separator--dashed"></div>
                                    <button type="button" class="btn btn-secondary m-btn m-btn--custom m-btn--label-primary m-btn--bolder">
							Primary
						</button>
                                    <button type="button" class="btn btn-secondary m-btn m-btn--custom m-btn--label-brand m-btn--bolder">
							Brand
						</button>
                                    <button type="button" class="btn btn-secondary m-btn m-btn--custom m-btn--label-success m-btn--bolder">
							Success
						</button>
                                    <button type="button" class="btn btn-secondary m-btn m-btn--custom m-btn--label-info m-btn--bolder">
							Info
						</button>
                                    <button type="button" class="btn btn-secondary m-btn m-btn--custom m-btn--label-warning m-btn--bolder m-btn--uppercase">
							Warning
						</button>
                                    <button type="button" class="btn btn-secondary m-btn m-btn--custom m-btn--label-danger m-btn--bolder m-btn--uppercase">
							Danger
						</button>
                                    <button type="button" class="btn btn-secondary m-btn m-btn--custom m-btn--label-metal m-btn--bolder m-btn--uppercase">
							Metal
						</button>
                                    <button type="button" class="btn btn-secondary m-btn m-btn--custom m-btn--label-accent m-btn--bolder m-btn--uppercase">
							Accent
						</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--end::Section-->
                </div>
            </div>
            <!--end::Portlet-->
        </div>
        <div class="col-lg-6">
            <!--begin::Portlet-->

            <!--end::Portlet-->
            <!--begin::Portlet-->

            <!--end::Portlet-->
            <!--begin::Portlet-->
            <div class="m-portlet m-portlet--tabs">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <h3 class="m-portlet__head-text">
                                Block Buttons
                            </h3>
                        </div>
                    </div>
                </div>
               <div class="m-portlet__body">
				<!--begin::Section-->
				<div class="m-section">
					<h3 class="m-section__heading">Default headings</h3>
					<span class="m-section__sub">
					All HTML headings, <code>&lt;h1&gt;</code> through <code>&lt;h6&gt;</code>, are available.
					</span>
					<div class="m-section__content">
						<div class="m-demo" data-code-preview="true" data-code-html="true" data-code-js="false">
							<div class="m-demo__preview">
								<div class="row">
									<div class="col-md-6">
										<h1>h1. Heading 1</h1>
										<div class="m--space-10"></div>
		                                <h2>h2. Heading 2</h2>
		                                <div class="m--space-10"></div>
		                                <h3>h3. Heading 3</h3>
		                                <div class="m--space-10"></div>
		                                <h4>h4. Heading 4</h4>
		                                <div class="m--space-10"></div>
		                                <h5>h5. Heading 5</h5>
		                                <div class="m--space-10"></div>
		                                <h6>h6. Heading 6</h6>
									</div>
									<div class="col-md-6">
										<h1 class="m--font-success">h1. Heading 1</h1>
										<div class="m--space-10"></div>
		                                <h2 class="m--font-info">h2. Heading 2</h2>
		                                <div class="m--space-10"></div>
		                                <h3 class="m--font-warning">h3. Heading 3</h3>
		                                <div class="m--space-10"></div>
		                                <h4 class="m--font-danger">h4. Heading 4</h4>
		                                <div class="m--space-10"></div>
		                                <h5 class="m--font-primary">h5. Heading 5</h5>
		                                <div class="m--space-10"></div>
		                                <h6 class="m--font-brand">h6. Heading 6</h6>
									</div>
								</div>								
                            </div>
						</div>
					</div>
				</div>
				<!--end::Section-->

				<!--begin::Section-->
				<div class="m-section">
					<h3 class="m-section__heading">Customizing headings</h3>
					<span class="m-section__sub">
					Use the included utility classes to recreate the small secondary heading text.
					</span>
					<div class="m-section__content">
						<div class="m-demo" data-code-preview="true" data-code-html="true" data-code-js="false">
							<div class="m-demo__preview">
								<h3>
								  Fancy display heading
								  <small class="text-muted">With faded secondary text</small>
								</h3>
                            </div>
						</div>
					</div>
				</div>
				<!--end::Section-->

				<!--begin::Section-->
				<div class="m-section">
					<h3 class="m-section__heading">Display headings</h3>
					<span class="m-section__sub">
					Larger, slightly more opinionated heading styles.
					</span>
					<div class="m-section__content">
						<div class="m-demo" data-code-preview="true" data-code-html="true" data-code-js="false">
							<div class="m-demo__preview">
								<h3 class="display-1">Display 1</h3>
								<h3 class="display-2">Display 2</h3>
								<h3 class="display-3">Display 3</h3>
                            </div>
						</div>
					</div>
				</div>
				<!--end::Section-->

				<!--begin::Section-->
				<div class="m-section">
					<h3 class="m-section__heading">Lead</h3>
					<span class="m-section__sub">
					Make a paragraph stand out by adding <code>.lead</code>.
					</span>
					<div class="m-section__content">
						<div class="m-demo" data-code-preview="true" data-code-html="true" data-code-js="false">
							<div class="m-demo__preview">
								<p class="lead">
								  Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus.
								</p>
                            </div>
						</div>
					</div>
				</div>
				<!--end::Section-->
			</div>
            </div>
            <!--end::Portlet-->
            <!--begin::Portlet-->
            <div class="m-portlet m-portlet--tabs">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <h3 class="m-portlet__head-text">
                                Checkbox and radio buttons
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="m-portlet__body">
                    <!--begin::Section-->
                    <div class="m-section m-section--last">
                        <div class="m-section__content">
                            <div class="m-demo" data-code-preview="true" data-code-html="true" data-code-js="false">
                                <div class="m-demo__preview">
                                    <div class="btn-group" data-toggle="buttons">
                                        <label class="btn btn-success active">
								<input type="checkbox" checked autocomplete="off">
								<span class="d-sm-none">
									1
								</span>
								<span class="d-none d-sm-inline">
									Checkbox 1
								</span>
							</label>
                                        <label class="btn btn-success">
								<input type="checkbox" autocomplete="off">
								<span class="d-sm-none">
									2
								</span>
								<span class="d-none d-sm-inline">
									Checkbox 2
								</span>
							</label>
                                        <label class="btn btn-success">
								<input type="checkbox" autocomplete="off">
								<span class="d-sm-none">
									3
								</span>
								<span class="d-none d-sm-inline">
									Checkbox 3
								</span>
							</label>
                                    </div>
                                </div>
                            </div>
                            <div class="m-demo" data-code-preview="true" data-code-html="true" data-code-js="false">
                                <div class="m-demo__preview">
                                    <div class="btn-group" data-toggle="buttons">
                                        <label class="btn btn-warning active">
								<input type="radio" name="options" id="option1" autocomplete="off" checked>
								<span class="d-sm-none">
									1
								</span>
								<span class="d-none d-sm-inline">
									Checkbox 1
								</span>
							</label>
                                        <label class="btn btn-warning">
								<input type="radio" name="options" id="option2" autocomplete="off">
								<span class="d-sm-none">
									2
								</span>
								<span class="d-none d-sm-inline">
									Checkbox 2
								</span>
							</label>
                                        <label class="btn btn-warning">
								<input type="radio" name="options" id="option3" autocomplete="off">
								<span class="d-sm-none">
									3
								</span>
								<span class="d-none d-sm-inline">
									Checkbox 3
								</span>
							</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--end::Section-->
                </div>
            </div>
            <!--end::Portlet-->
        </div>
    </div>
    <div class="row">
        <div class="col-xl-4">
            <!--begin:: Widgets/Blog-->
            <div class="m-portlet m-portlet--bordered-semi m-portlet--full-height">
                <div class="m-portlet__head m-portlet__head--fit">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-action">
                            <button type="button" class="btn btn-sm m-btn--pill  btn-brand">
								Blog
							</button>
                        </div>
                    </div>
                </div>
                <div class="m-portlet__body">
                    <div class="m-widget19">
                        <div class="m-widget19__pic m-portlet-fit--top m-portlet-fit--sides" style="min-height-: 286px">
                            <img src="./assets/eventalliance/media/img/blog/blog1.jpg" alt="">
                            <h3 class="m-widget19__title m--font-light">
                                Introducing New Feature
                            </h3>
                            <div class="m-widget19__shadow"></div>
                        </div>
                        <div class="m-widget19__content">
                            <div class="m-widget19__header">
                                <div class="m-widget19__user-img">
                                    <img class="m-widget19__img" src="./assets/eventalliance/media/img/users/user3.jpg" alt="">
                                </div>
                                <div class="m-widget19__info">
                                    <span class="m-widget19__username">
										Anna Krox
									</span>
                                    <br>
                                    <span class="m-widget19__time">
										UX/UI Designer, Google
									</span>
                                </div>
                                <div class="m-widget19__stats">
                                    <span class="m-widget19__number m--font-brand">
										18
									</span>
                                    <span class="m-widget19__comment">
										Comments
									</span>
                                </div>
                            </div>
                            <div class="m-widget19__body">
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry scrambled it to make text of the printing and typesetting industry scrambled a type specimen book text of the dummy text of the printing printing and typesetting industry scrambled dummy text of the printing.
                            </div>
                        </div>
                        <div class="m-widget19__action">
                            <button type="button" class="btn m-btn--pill btn-secondary m-btn m-btn--hover-brand m-btn--custom">
								Read More
							</button>
                        </div>
                    </div>
                </div>
            </div>
            <!--end:: Widgets/Blog-->
        </div>
        <div class="col-xl-4">
            <!--begin:: Widgets/Activity-->
            <div class="m-portlet m-portlet--bordered-semi m-portlet--widget-fit m-portlet--full-height m-portlet--skin-light">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <h3 class="m-portlet__head-text m--font-light">
                                Activity
                            </h3>
                        </div>
                    </div>
                    <div class="m-portlet__head-tools">
                        <ul class="m-portlet__nav">
                            <li class="m-portlet__nav-item m-dropdown m-dropdown--inline m-dropdown--arrow m-dropdown--align-right m-dropdown--align-push" data-dropdown-toggle="hover">
                                <a href="#" class="m-portlet__nav-link m-portlet__nav-link--icon m-portlet__nav-link--icon-xl">
									<i class="fa fa-genderless m--font-light"></i>
								</a>
                                <div class="m-dropdown__wrapper">
                                    <span class="m-dropdown__arrow m-dropdown__arrow--right m-dropdown__arrow--adjust"></span>
                                    <div class="m-dropdown__inner">
                                        <div class="m-dropdown__body">
                                            <div class="m-dropdown__content">
                                                <ul class="m-nav">
                                                    <li class="m-nav__section m-nav__section--first">
                                                        <span class="m-nav__section-text">
															Quick Actions
														</span>
                                                    </li>
                                                    <li class="m-nav__item">
                                                        <a href="" class="m-nav__link">
															<i class="m-nav__link-icon flaticon-share"></i>
															<span class="m-nav__link-text">
																Activity
															</span>
														</a>
                                                    </li>
                                                    <li class="m-nav__item">
                                                        <a href="" class="m-nav__link">
															<i class="m-nav__link-icon flaticon-chat-1"></i>
															<span class="m-nav__link-text">
																Messages
															</span>
														</a>
                                                    </li>
                                                    <li class="m-nav__item">
                                                        <a href="" class="m-nav__link">
															<i class="m-nav__link-icon flaticon-info"></i>
															<span class="m-nav__link-text">
																FAQ
															</span>
														</a>
                                                    </li>
                                                    <li class="m-nav__item">
                                                        <a href="" class="m-nav__link">
															<i class="m-nav__link-icon flaticon-lifebuoy"></i>
															<span class="m-nav__link-text">
																Support
															</span>
														</a>
                                                    </li>
                                                    <li class="m-nav__separator m-nav__separator--fit"></li>
                                                    <li class="m-nav__item">
                                                        <a href="#" class="btn btn-outline-danger m-btn m-btn--pill m-btn--wide btn-sm">
															Cancel
														</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="m-portlet__body">
                    <div class="m-widget17">
                        <div class="m-widget17__visual m-widget17__visual--chart m-portlet-fit--top m-portlet-fit--sides m--bg-danger">
                            <div class="m-widget17__chart" style="height:320px;">
                                <canvas id="m_chart_activities"></canvas>
                            </div>
                        </div>
                        <div class="m-widget17__stats">
                            <div class="m-widget17__items m-widget17__items-col1">
                                <div class="m-widget17__item">
                                    <span class="m-widget17__icon">
										<i class="flaticon-truck m--font-brand"></i>
									</span>
                                    <span class="m-widget17__subtitle">
										Delivered
									</span>
                                    <span class="m-widget17__desc">
										15 New Paskages
									</span>
                                </div>
                                <div class="m-widget17__item">
                                    <span class="m-widget17__icon">
										<i class="flaticon-paper-plane m--font-info"></i>
									</span>
                                    <span class="m-widget17__subtitle">
										Reporeted
									</span>
                                    <span class="m-widget17__desc">
										72 Support Cases
									</span>
                                </div>
                            </div>
                            <div class="m-widget17__items m-widget17__items-col2">
                                <div class="m-widget17__item">
                                    <span class="m-widget17__icon">
										<i class="flaticon-pie-chart m--font-success"></i>
									</span>
                                    <span class="m-widget17__subtitle">
										Ordered
									</span>
                                    <span class="m-widget17__desc">
										72 New Items
									</span>
                                </div>
                                <div class="m-widget17__item">
                                    <span class="m-widget17__icon">
										<i class="flaticon-time m--font-danger"></i>
									</span>
                                    <span class="m-widget17__subtitle">
										Arrived
									</span>
                                    <span class="m-widget17__desc">
										34 Upgraded Boxes
									</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--end:: Widgets/Activity-->
        </div>
        <div class="col-xl-4">
            <!--begin:: Widgets/Blog-->
            <div class="m-portlet m-portlet--bordered-semi m-portlet--full-height">
                <div class="m-portlet__head m-portlet__head--fit">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-action">
                            <button type="button" class="btn btn-sm m-btn--pill  btn-brand">
								Blog
							</button>
                        </div>
                    </div>
                </div>
                <div class="m-portlet__body">
                    <div class="m-widget19">
                        <div class="m-widget19__pic m-portlet-fit--top m-portlet-fit--sides" style="min-height-: 286px">
                            <img src="./assets/eventalliance/media/img/blog/blog1.jpg" alt="">
                            <h3 class="m-widget19__title m--font-light">
                                Introducing New Feature
                            </h3>
                            <div class="m-widget19__shadow"></div>
                        </div>
                        <div class="m-widget19__content">
                            <div class="m-widget19__header">
                                <div class="m-widget19__user-img">
                                    <img class="m-widget19__img" src="./assets/eventalliance/media/img/users/user3.jpg" alt="">
                                </div>
                                <div class="m-widget19__info">
                                    <span class="m-widget19__username">
										Anna Krox
									</span>
                                    <br>
                                    <span class="m-widget19__time">
										UX/UI Designer, Google
									</span>
                                </div>
                                <div class="m-widget19__stats">
                                    <span class="m-widget19__number m--font-brand">
										18
									</span>
                                    <span class="m-widget19__comment">
										Comments
									</span>
                                </div>
                            </div>
                            <div class="m-widget19__body">
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry scrambled it to make text of the printing and typesetting industry scrambled a type specimen book text of the dummy text of the printing printing and typesetting industry scrambled dummy text of the printing.
                            </div>
                        </div>
                        <div class="m-widget19__action">
                            <button type="button" class="btn m-btn--pill btn-secondary m-btn m-btn--hover-brand m-btn--custom">
								Read More
							</button>
                        </div>
                    </div>
                </div>
            </div>
            <!--end:: Widgets/Blog-->
        </div>
    </div>
    <div class="row">
        <div class="col-xl-12">
            <!--begin:: Widgets/Blog-->
            <div class="m-portlet m-portlet--bordered-semi m-portlet--full-height">
                <div class="m-portlet__head m-portlet__head--fit">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-action">
                            <button type="button" class="btn btn-sm m-btn--pill  btn-brand">
								Blog
							</button>
                        </div>
                    </div>
                </div>
                <div class="m-portlet__body">
                    <div class="m-widget19">
                        <div class="m-widget19__pic m-portlet-fit--top m-portlet-fit--sides" style="min-height-: 286px">
                            <img src="./assets/eventalliance/media/img/blog/blog1.jpg" alt="">
                            <h3 class="m-widget19__title m--font-light">
                                Introducing New Feature
                            </h3>
                            <div class="m-widget19__shadow"></div>
                        </div>
                        <div class="m-widget19__content">
                            <div class="m-widget19__header">
                                <div class="m-widget19__user-img">
                                    <img class="m-widget19__img" src="./assets/eventalliance/media/img/users/user3.jpg" alt="">
                                </div>
                                <div class="m-widget19__info">
                                    <span class="m-widget19__username">
										Anna Krox
									</span>
                                    <br>
                                    <span class="m-widget19__time">
										UX/UI Designer, Google
									</span>
                                </div>
                                <div class="m-widget19__stats">
                                    <span class="m-widget19__number m--font-brand">
										18
									</span>
                                    <span class="m-widget19__comment">
										Comments
									</span>
                                </div>
                            </div>
                            <div class="m-widget19__body">
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry scrambled it to make text of the printing and typesetting industry scrambled a type specimen book text of the dummy text of the printing printing and typesetting industry scrambled dummy text of the printing.
                            </div>
                        </div>
                        <div class="m-widget19__action">
                            <button type="button" class="btn m-btn--pill btn-secondary m-btn m-btn--hover-brand m-btn--custom">
								Read More
							</button>
                        </div>
                    </div>
                </div>
            </div>
            <!--end:: Widgets/Blog-->
        </div>
    </div>
</div>
