<!-- BEGIN: Subheader -->
<div class="" appunwraptag="">
    <div class="m-subheader-search" style="padding-bottom: 0;">
        <div class="row">
            <div class="col-md-1">
                <img src="./assets/eventalliance/media/img/users/user4.jpg" style="border-radius: 50%;" alt="" />
            </div>
            <div class="col-md-11">
                <h1 style="font-size: 2.8rem;font-weight: 400;color: #fff;margin: 0;">
                    Franz Ferdinand
                </h1>

                <span class="m-badge m-badge--primary m-badge--wide" style="background-color: #204d66">Indie Rock</span>
                <span class="m-badge m-badge--primary m-badge--wide" style="background-color: #204d66">Jazz</span>
                <br/><br/>
                <!-- start menu -->

                <ul class="nav nav-tabs  m-tabs-line  m-tabs-line--2x m-tabs-line--white" style="margin-bottom:-1px;" role="tablist">
                    <li class="nav-item m-tabs__item">
                        <a class="nav-link m-tabs__link " data-toggle="tab" routerLink="/artist-details" role="tab">
                            <small>Insight</small>
                        </a>
                    </li>
                    <li class="nav-item m-tabs__item">
                        <a class="nav-link m-tabs__link active" data-toggle="tab" routerLink="/artist-availability" role="tab">
                             <small>Availability</small>  
                         </a>
                    </li>
                    <li class="nav-item m-tabs__item">
                        <a class="nav-link m-tabs__link" data-toggle="tab" routerLink="/about-artist" role="tab">
                               <small>About</small>
                         </a>
                    </li>
                    <li class="nav-item m-tabs__item">
                        <a class="nav-link m-tabs__link" data-toggle="tab" routerLink="/edit-artist" role="tab">
                               <small>Edit</small>
                       </a>
                    </li>

                </ul>
                <!-- end menu -->

            </div>
        </div>
    </div>

</div>
<!-- END: Subheader -->

<div class="m-content">
    <div class="row">

        <div class="col-xl-12">
            <!--begin:: Widgets/Blog-->
            <div class="m-portlet m-portlet--bordered-semi m-portlet--full-height  m-portlet--rounded-force">
                <div class="m-portlet__head m-portlet__head--fit">
                    <div class="m-portlet__head-caption">

                    </div>
                </div>
                <div class="m-portlet__body">
                    <div class="m-widget19">
                        <div class="m-widget19__pic m-portlet-fit--top m-portlet-fit--sides" style="min-height-: 286px">
                            <img src="./assets/eventalliance/media/img/bg/even_map.png" alt="">

                        </div>


                    </div>
                </div>
            </div>
            <!--end:: Widgets/Blog-->


            <div class="col-lg-3 artist_availability_sidepanel">
                <div class="m-portlet m-portlet--tabs">
                    <div class="m-portlet__head">
                        <div class="m-portlet__head-caption">
                            <div class="m-portlet__head-title">
                                <h2 class="m-portlet__head-text">
                                    Upcoming Events
                                </h2>
                            </div>
                        </div>
                    </div>
                    <div class="m-portlet__body">

                        <div class="m-widget4 m-widget4--chart-bottom" style="min-height: 300px">



                            <div class="m-widget4__item">
                                <div class="event-date">
                                    <strong>Feb</strong>
                                    <strong>08</strong>
                                </div>
                                <div class="m-widget4__info">
                                    <span class="m-widget4__title">
                                    <a  class="m-menu__link">
                                        <span class="m-menu__item-here"></span>
                                    <span class="m-menu__link-text">
                                               Town Hall
                                        </span>
                                    </a>
                                    </span>
                                    <br>
                                    <span class="m-widget4__sub">
									  London, UK
								</span>
                                </div>

                            </div>

                            <!-- start demo looping-->

<div class="m-widget4__item">
                                <div class="event-date">
                                    <strong>Feb</strong>
                                    <strong>08</strong>
                                </div>
                                <div class="m-widget4__info">
                                    <span class="m-widget4__title">
                                    <a  class="m-menu__link">
                                        <span class="m-menu__item-here"></span>
                                    <span class="m-menu__link-text">
                                               Town Hall
                                        </span>
                                    </a>
                                    </span>
                                    <br>
                                    <span class="m-widget4__sub">
									  London, UK
								</span>
                                </div>

                            </div>
                            
                            <div class="m-widget4__item">
                                <div class="event-date">
                                    <strong>Feb</strong>
                                    <strong>08</strong>
                                </div>
                                <div class="m-widget4__info">
                                    <span class="m-widget4__title">
                                    <a  class="m-menu__link">
                                        <span class="m-menu__item-here"></span>
                                    <span class="m-menu__link-text">
                                               Town Hall
                                        </span>
                                    </a>
                                    </span>
                                    <br>
                                    <span class="m-widget4__sub">
									  London, UK
								</span>
                                </div>

                            </div>
                            
                            <div class="m-widget4__item">
                                <div class="event-date">
                                    <strong>Feb</strong>
                                    <strong>08</strong>
                                </div>
                                <div class="m-widget4__info">
                                    <span class="m-widget4__title">
                                    <a  class="m-menu__link">
                                        <span class="m-menu__item-here"></span>
                                    <span class="m-menu__link-text">
                                               Town Hall
                                        </span>
                                    </a>
                                    </span>
                                    <br>
                                    <span class="m-widget4__sub">
									  London, UK
								</span>
                                </div>

                            </div>
                            
                            
                            
                           


                            <!-- end demo looping -->
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
