<!-- BEGIN: Subheader -->
<div class="" appunwraptag="">
    <div class="m-subheader-search">
        <h2 class="m-subheader-search__title">
            Insights
        </h2>
        <form class="m-form">
            <div class="m-grid m-grid--ver-desktop m-grid--desktop">
                <div class="m-grid__item m-grid__item--middle">
                    <div class="m-input-icon m-input-icon--fixed m-input-icon--fixed-large m-input-icon--right">
                        <input class="form-control " placeholder="Denever, CO" type="text">
                        <span class="m-hrader-search-form__help">City, State or ZIP</span>
                    </div>
                    <div class="m-input-icon m-input-icon--fixed m-input-icon--fixed-md m-input-icon--right">
                        <select class="form-control m-hrader-search-form__select">
                                    <option>All Genres</option>
                                    <option>Hip hop</option>
                                    <option>Jazz</option>
                                </select>
                        <span class="m-hrader-search-form__help">&nbsp;</span>
                    </div>
                    <div class="m-input-icon m-input-icon--fixed m-input-icon--fixed-md m-input-icon--right">
                        <select class="form-control m-hrader-search-form__select">
                                    <option>Last 90 Days</option>
                                    <option>Last 30 Days</option>
                                    <option>Last 20 Days</option>
                        </select>
                        <span class="m-hrader-search-form__help">&nbsp;</span>
                    </div>
                    <div class="m-input-icon m-input-icon--fixed m-input-icon--fixed-md m-input-icon--right" style="width:80px;">


                        <button class="btn btn-outline-success  m-btn--bolder m-btn--uppercase" type="button">
							     Filter
						      </button>
                        <span class="m-hrader-search-form__help">&nbsp;</span>

                    </div>


                </div>
            </div>
        </form>
    </div>

</div>
<!-- END: Subheader -->

<div class="m-content">
    <div class="row">
        <div class="col-lg-4">
            <div class="m-portlet m-portlet--tabs">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <h2 class="m-portlet__head-text">
                                Denver, CO USA <br/>
                                <small class="text-muted">Last 90 Days</small>
                            </h2>
                        </div>
                    </div>
                </div>
                <div class="m-portlet__body">

                    <!--begin:: Widgets/Profit Share-->
                    <div class="m-widget14">

                        <div class="row  align-items-center">
                            <div class="col">
                                <div id="m_chart_profit_share" class="m-widget14__chart" style="height: 160px">
                                    <div class="m-widget14__stat">
                                        45
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="m-widget14__legends">
                                    <div class="m-widget14__legend">
                                        <span class="m-widget14__legend-bullet m--bg-accent"></span>
                                        <span class="m-widget14__legend-text">
											37% Sport Tickets
										</span>
                                    </div>
                                    <div class="m-widget14__legend">
                                        <span class="m-widget14__legend-bullet m--bg-warning"></span>
                                        <span class="m-widget14__legend-text">
											47% Business Events
										</span>
                                    </div>
                                    <div class="m-widget14__legend">
                                        <span class="m-widget14__legend-bullet m--bg-brand"></span>
                                        <span class="m-widget14__legend-text">
											19% Others
										</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--end:: Widgets/Profit Share-->

                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="m-portlet m-portlet--tabs">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <h2 class="m-portlet__head-text">
                                Top Artists
                            </h2>
                        </div>
                    </div>
                </div>
                <div class="m-portlet__body">

                    <div class="m-widget4 m-widget4--chart-bottom" style="min-height: 480px">

                        <div class="m-widget4__item">
                            <div class="m-widget4__img m-widget4__img--logo">
                                <img src="./assets/eventalliance/media/img/users/user4.jpg" alt="">
                            </div>
                            <div class="m-widget4__info">
                                <span class="m-widget4__title">
									Another Artists
								</span>
                                <br>
                                <span class="m-widget4__sub">
									5.04M total views 
								</span>
                            </div>
                            <span class="m-widget4__ext">
								<span class="m-widget4__number m--font-brand">
									<i class="fa fa-ellipsis-h"></i>
								</span>
                            </span>
                        </div>

                        <!-- start demo looping-->
                        <div class="m-widget4__item">
                            <div class="m-widget4__img m-widget4__img--logo">
                                <img src="./assets/eventalliance/media/img/users/user3.jpg" alt="">
                            </div>
                            <div class="m-widget4__info">
                                <span class="m-widget4__title">
									Another Artists
								</span>
                                <br>
                                <span class="m-widget4__sub">
									5.04M total views 
								</span>
                            </div>
                            <span class="m-widget4__ext">
								<span class="m-widget4__number m--font-brand">
									<i class="fa fa-ellipsis-h"></i>
								</span>
                            </span>
                        </div>
                        <div class="m-widget4__item">
                            <div class="m-widget4__img m-widget4__img--logo">
                                <img src="./assets/eventalliance/media/img/users/user3.jpg" alt="">
                            </div>
                            <div class="m-widget4__info">
                                <span class="m-widget4__title">
									Another Artists
								</span>
                                <br>
                                <span class="m-widget4__sub">
									5.04M total views 
								</span>
                            </div>
                            <span class="m-widget4__ext">
								<span class="m-widget4__number m--font-brand">
									<i class="fa fa-ellipsis-h"></i>
								</span>
                            </span>
                        </div>
                        <div class="m-widget4__item">
                            <div class="m-widget4__img m-widget4__img--logo">
                                <img src="./assets/eventalliance/media/img/users/user4.jpg" alt="">
                            </div>
                            <div class="m-widget4__info">
                                <span class="m-widget4__title">
									Another Artists
								</span>
                                <br>
                                <span class="m-widget4__sub">
									5.04M total views 
								</span>
                            </div>
                            <span class="m-widget4__ext">
								<span class="m-widget4__number m--font-brand">
									<i class="fa fa-ellipsis-h"></i>
								</span>
                            </span>
                        </div>
                        <div class="m-widget4__item">
                            <div class="m-widget4__img m-widget4__img--logo">
                                <img src="./assets/eventalliance/media/img/users/user4.jpg" alt="">
                            </div>
                            <div class="m-widget4__info">
                                <span class="m-widget4__title">
									Another Artists
								</span>
                                <br>
                                <span class="m-widget4__sub">
									5.04M total views 
								</span>
                            </div>
                            <span class="m-widget4__ext">
								<span class="m-widget4__number m--font-brand">
									<i class="fa fa-ellipsis-h"></i>
								</span>
                            </span>
                        </div>
                        <div class="m-widget4__item">
                            <div class="m-widget4__img m-widget4__img--logo">
                                <img src="./assets/eventalliance/media/img/users/user4.jpg" alt="">
                            </div>
                            <div class="m-widget4__info">
                                <span class="m-widget4__title">
									Another Artists
								</span>
                                <br>
                                <span class="m-widget4__sub">
									5.04M total views 
								</span>
                            </div>
                            <span class="m-widget4__ext">
								<span class="m-widget4__number m--font-brand">
									<i class="fa fa-ellipsis-h"></i>
								</span>
                            </span>
                        </div>
                        <div class="m-widget4__item">
                            <div class="m-widget4__img m-widget4__img--logo">
                                <img src="./assets/eventalliance/media/img/users/user4.jpg" alt="">
                            </div>
                            <div class="m-widget4__info">
                                <span class="m-widget4__title">
									Another Artists
								</span>
                                <br>
                                <span class="m-widget4__sub">
									5.04M total views 
								</span>
                            </div>
                            <span class="m-widget4__ext">
								<span class="m-widget4__number m--font-brand">
									<i class="fa fa-ellipsis-h"></i>
								</span>
                            </span>
                        </div>
                        <div class="m-widget4__item">
                            <div class="m-widget4__img m-widget4__img--logo">
                                <img src="./assets/eventalliance/media/img/users/user4.jpg" alt="">
                            </div>
                            <div class="m-widget4__info">
                                <span class="m-widget4__title">
									Another Artists
								</span>
                                <br>
                                <span class="m-widget4__sub">
									5.04M total views 
								</span>
                            </div>
                            <span class="m-widget4__ext">
								<span class="m-widget4__number m--font-brand">
									<i class="fa fa-ellipsis-h"></i>
								</span>
                            </span>
                        </div>
                        <div class="m-widget4__item">
                            <div class="m-widget4__img m-widget4__img--logo">
                                <img src="./assets/eventalliance/media/img/users/user4.jpg" alt="">
                            </div>
                            <div class="m-widget4__info">
                                <span class="m-widget4__title">
									Another Artists
								</span>
                                <br>
                                <span class="m-widget4__sub">
									5.04M total views 
								</span>
                            </div>
                            <span class="m-widget4__ext">
								<span class="m-widget4__number m--font-brand">
									<i class="fa fa-ellipsis-h"></i>
								</span>
                            </span>
                        </div>

                        <!-- end demo looping -->
                    </div>

                </div>
            </div>
        </div>



        <!--- top tracks -->

        <div class="col-lg-4">
            <div class="m-portlet m-portlet--tabs">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <h2 class="m-portlet__head-text">
                                Top Tracks
                            </h2>
                        </div>
                    </div>
                </div>
                <div class="m-portlet__body">

                    <div class="m-widget4 m-widget4--chart-bottom" style="min-height: 480px">
                        <div class="m-widget4__item">
                            <div class="m-widget5__img m-widget4__img--logo">
                                <img class="m-widget7__img" src="./assets/eventalliance/media/img/users/user3.jpg" alt="">

                            </div>
                            <div class="m-widget4__info">
                                <span class="m-widget4__title">
									Another Track
								</span>
                                <br>
                                <span class="text-info">
									Another Atrist
								</span>
                                <br>
                                <span class="m-widget4__sub">
									6.4M total views
								</span>
                            </div>
                            <span class="m-widget4__ext">
								<span class="m-widget4__number m--font-brand">
									<i class="fa fa-ellipsis-h"></i>
								</span>
                            </span>
                        </div>

                        <!-- start demo looping -->
                        <div class="m-widget4__item">
                            <div class="m-widget5__img m-widget4__img--logo">
                                <img class="m-widget7__img" src="./assets/eventalliance/media/img/users/user4.jpg" alt="">

                            </div>
                            <div class="m-widget4__info">
                                <span class="m-widget4__title">
									Another Track
								</span>
                                <br>
                                <span class="text-info">
									Another Atrist
								</span>
                                <br>
                                <span class="m-widget4__sub">
									6.4M total views
								</span>
                            </div>
                            <span class="m-widget4__ext">
								<span class="m-widget4__number m--font-brand">
									<i class="fa fa-ellipsis-h"></i>
								</span>
                            </span>
                        </div>
                        <div class="m-widget4__item">
                            <div class="m-widget5__img m-widget4__img--logo">
                                <img class="m-widget7__img" src="./assets/eventalliance/media/img/users/user3.jpg" alt="">

                            </div>
                            <div class="m-widget4__info">
                                <span class="m-widget4__title">
									Another Track
								</span>
                                <br>
                                <span class="text-info">
									Another Atrist
								</span>
                                <br>
                                <span class="m-widget4__sub">
									6.4M total views
								</span>
                            </div>
                            <span class="m-widget4__ext">
								<span class="m-widget4__number m--font-brand">
									<i class="fa fa-ellipsis-h"></i>
								</span>
                            </span>
                        </div>
                       
                        <div class="m-widget4__item">
                            <div class="m-widget5__img m-widget4__img--logo">
                                <img class="m-widget7__img" src="./assets/eventalliance/media/img/users/user4.jpg" alt="">

                            </div>
                            <div class="m-widget4__info">
                                <span class="m-widget4__title">
									Another Track
								</span>
                                <br>
                                <span class="text-info">
									Another Atrist
								</span>
                                <br>
                                <span class="m-widget4__sub">
									6.4M total views
								</span>
                            </div>
                            <span class="m-widget4__ext">
								<span class="m-widget4__number m--font-brand">
									<i class="fa fa-ellipsis-h"></i>
								</span>
                            </span>
                        </div>
                        <div class="m-widget4__item">
                            <div class="m-widget5__img m-widget4__img--logo">
                                <img class="m-widget7__img" src="./assets/eventalliance/media/img/users/user4.jpg" alt="">

                            </div>
                            <div class="m-widget4__info">
                                <span class="m-widget4__title">
									Another Track
								</span>
                                <br>
                                <span class="text-info">
									Another Atrist
								</span>
                                <br>
                                <span class="m-widget4__sub">
									6.4M total views
								</span>
                            </div>
                            <span class="m-widget4__ext">
								<span class="m-widget4__number m--font-brand">
									<i class="fa fa-ellipsis-h"></i>
								</span>
                            </span>
                        </div>
                        <div class="m-widget4__item">
                            <div class="m-widget5__img m-widget4__img--logo">
                                <img class="m-widget7__img" src="./assets/eventalliance/media/img/users/user4.jpg" alt="">

                            </div>
                            <div class="m-widget4__info">
                                <span class="m-widget4__title">
									Another Track
								</span>
                                <br>
                                <span class="text-info">
									Another Atrist
								</span>
                                <br>
                                <span class="m-widget4__sub">
									6.4M total views
								</span>
                            </div>
                            <span class="m-widget4__ext">
								<span class="m-widget4__number m--font-brand">
									<i class="fa fa-ellipsis-h"></i>
								</span>
                            </span>
                        </div>
                        <div class="m-widget4__item">
                            <div class="m-widget5__img m-widget4__img--logo">
                                <img class="m-widget7__img" src="./assets/eventalliance/media/img/users/user4.jpg" alt="">
                            </div>
                            <div class="m-widget4__info">
                                <span class="m-widget4__title">
									Another Track
								</span>
                                <br>
                                <span class="text-info">
									Another Atrist
								</span>
                                <br>
                                <span class="m-widget4__sub">
									6.4M total views
								</span>
                            </div>
                            <span class="m-widget4__ext">
								<span class="m-widget4__number m--font-brand">
									<i class="fa fa-ellipsis-h"></i>
								</span>
                            </span>
                        </div>
                        <!-- end demo looping -->



                    </div>

                </div>
            </div>
        </div>

    </div>


</div>
